### Favorite Items Collection

In [1]:
# list of movies created

movies = ["Acrimony", "Indignation", "Land of Fury", "3 idiots", "When they see us", "Jobs", "Social network"]
print(movies)

['Acrimony', 'Indignation', 'Land of Fury', '3 idiots', 'When they see us', 'Jobs', 'Social network']

In [6]:
# converting the list of movies to a set of movies which will be stored in a varaible "movies_set"

movies_set = set(movies)
print (movies_set)

{'Social network', 'Jobs', 'Indignation', 'When they see us', 'Acrimony', 'Land of Fury', '3 idiots'}

In [9]:
# Alternatively,

movies_set0 = {*movies}
print(movies_set0)

{'Social network', 'Jobs', 'Indignation', 'When they see us', 'Acrimony', 'Land of Fury', '3 idiots'}

In [10]:
# Adding a new movie to the list

movies_set.add("My Eternal")
print(movies_set)

{'Social network', 'My Eternal', 'Jobs', 'Indignation', 'When they see us', 'Acrimony', 'Land of Fury', '3 idiots'}

In [11]:
# removing the movie "3 idiots" from the list

movies_set.discard("3 idiots")
print(movies_set)

{'Social network', 'My Eternal', 'Jobs', 'Indignation', 'When they see us', 'Acrimony', 'Land of Fury'}

### Shopping List & Stock Check

In [13]:
# creating a dictionary with items as string and values as int, representing stock availability

stock_available = {
    "Egg roll": 10,
    "Meat pie": 15,
    "Cookies": 20
}

print(stock_available)

{'Egg roll': 10, 'Meat pie': 15, 'Cookies': 20}

In [ ]:
# making list of items to be purchased

shopping_list = ["Dougnut", "Egg row"]

# checking items that are avialable or not

print("Dougnut" in stock_available)
print("Egg roll" in stock_available)

### Number Operation

In [31]:
# Creating a list of numbers 1 - 20

list_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(list_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [32]:
# Removing the number 10 from the list

list_number.remove(10)
print(list_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [37]:
# sorting list in decending order

list_number.sort(reverse=True)
print(list_number)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
# Alternatively,

sorted_list = sorted(list_number, reverse=True)
print(sorted_list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
# Using set operation to find insection between random set and list of random numbers converted to set

random_set = {5, 10, 15, 20, 25}
converted_set = set(list_number)
print(converted_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [43]:
# Finding the intersection between converted_set and random_set

intersection = random_set & converted_set
print(intersection)

{20, 5, 15}

In [44]:
#Alternatively,

intersection0 = random_set.intersection(converted_set)
print(intersection0)

{20, 5, 15}

### Students Grade

In [62]:
# creating a Dictionary where key are student names(str) and values are grades(int)

class_grade = {
    "John": [70, 90, 30],
    "Paul": [60, 70, 70],
    "Rebecca": [50,90, 80]
}

print(class_grade)

{'John': [70, 90, 30], 'Paul': [60, 70, 70], 'Rebecca': [50, 90, 80]}

In [63]:
# calculating average grades for each students

john_average = sum(class_grade["John"]) / len(class_grade["John"])
print(john_average)

paul_average = sum(class_grade["Paul"]) / len(class_grade["Paul"])
print(paul_average)

rebecca_average = sum(class_grade["Rebecca"]) / len(class_grade["Rebecca"])
print(rebecca_average)

63.333333333333336
66.66666666666667
73.33333333333333

In [64]:
# Storing average grade in a new Dictionary

Average_grades = {
    "John": 63.333333333333336,
    "Paul": 66.66666666666667,
    "Rebecca": 73.33333333333333
}

print(Average_grades)

{'John': 63.333333333333336, 'Paul': 66.66666666666667, 'Rebecca': 73.33333333333333}

In [65]:
# Printing out each student name along with their average grade rounded to two decimal places

for key, value in Average_grades.items():
    print(f"{key}: {round(value, 2)}")

John: 63.33
Paul: 66.67
Rebecca: 73.33