### Solution 1: Understanding Variables and Data Types

In [5]:
age = 26                      #The variable "age" holds the value 26 which is an integer.

In [6]:
height = 1.72                 #The variable "height" holds the value 1.72 which is a float.

In [7]:
name ="Emmanuel Adah Abah"    #The variable "name" holds the string "Emmanuel Adah Abah" as it value.

In [11]:
print(age)
print(type(age))

print(height)
print(type(height))

print(name)
print(type(name))

26
<class 'int'>
1.72
<class 'float'>
Emmanuel Adah Abah
<class 'str'>

### Solution 2: Basic Arithmetic Operations

In [14]:
addition = age + height
print(addition)

27.72

In [15]:
multiplication = age * 2
print(multiplication)

52

In [16]:
division = age / height
 round(division, 2)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4251814888.py, line 2)